<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Telescope - Fuzzy Finder</title>
  <cssvariables></cssvariables>
  <link rel="stylesheet" href="{{style}}">
  <link rel="stylesheet" href="{{branch-styles}}">
  <link rel="stylesheet" href="{{highlight-styles}}">
  <script>
    const __SHIKI_URI__ = "{{__SHIKI_URI__}}";
    const __PREVIEW_CFG__ = JSON.parse('{{__PREVIEW_CFG__}}');
    const __KEYBINDINGS_CFG__ = JSON.parse('{{__KEYBINDINGS_CFG__}}');
    const __CUSTOM_RENDER_ADAPTERS__ = JSON.parse('{{__CUSTOM_RENDER_ADAPTERS__}}');
  </script>
  <script id="__CUSTOM_DATA_ADAPTER__" type="application/json">
    {{__CUSTOM_DATA_ADAPTER__}}
  </script>
  <script defer src="{{script}}"></script>
</head>

<body>
  <div id="container">
    <div id="split">
      <div id="left-side">
        <div id="results-label">Branches</div>
        <ul id="option-list"></ul>
        <div id="input-container">
          <div id="input-container-label">Prompt</div>
          <input id="search" type="text" autofocus>
          <span id="items-count">0 / 0</span>
        </div>
      </div>
      <div id="resizer"></div>
      <div id="right-side">
        <div id="preview-label">Commits</div>
        <div id="preview"></div>
      </div>
    </div>
  </div>
</body>

</html>